doctype html
html
  head
    title Error
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      h1 Invalid Input
      p
      | Your input was not valid and could not be processed. Please ensure that you provide appropriate input according to the guidelines.
